node_modules/
dist/
.vs/
app/data
app/npm-debug.log
*.cache
*.user
bin/
binu/
Tests/IngestTask.Server.IntegrationTest/bin/
Tests/IngestTask.Server.IntegrationTest/obj/

Source/IngestTask.Abstractions/bin/
Source/IngestTask.Abstractions/obj/
Source/IngestTask.Client/bin/
Source/IngestTask.Client/obj/
Source/IngestTask.Grains/bin/
Source/IngestTask.Grains/obj/
Source/IngestTask.Server/bin/
Source/IngestTask.Server/obj/
