node_modules/
dist/
.vs/
app/data
app/npm-debug.log
*.cache
*.user
bin/
binu/
Tests/IngestTask.Server.IntegrationTest/bin/
Tests/IngestTask.Server.IntegrationTest/obj/

Source/IngestTask.Abstraction/bin/
Source/IngestTask.Abstraction/obj/
Source/IngestTask.Client/bin/
Source/IngestTask.Client/obj/
Source/IngestTask.Grain/bin/
Source/IngestTask.Grain/obj/
Source/IngestTask.Server/bin/
Source/IngestTask.Server/obj/
Source/IngestTask.Tools/obj/
Source/IngestTask.Tools/bin/
Source/IngestTask.Dto/obj/
Source/IngestTask.Dto/bin/